@import './base/mixins';
@import './base/vars';
@import './base/fonts';



body {
    font-size: 14px;
    color: #FFFFFF;
    background: #E5E5E5;
    font-family: 'Rubik', 'Montserrat',sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: none;
    }
}

::selection {
    color:#52C600;
}

@import 'blocks/header';
@import 'blocks/promo';


