
.about {
    padding-top: 160px;
    background: url('../images/krula.png');
    background-repeat: no-repeat;
    background-position-x: right;

    &-item {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px gainsboro;
        cursor: pointer;
        transition: all .33s;

        &:hover {
            box-shadow: 0px 0px 20px rgb(143, 143, 143);

        }
        
        &__title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #525252;
        }

        &__desc {
            font-family: Rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            color: #595959;
        }
    }
}

.block-about {

    &__subheading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        color: $green;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        color: #727878;
    }


    &__desc {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #535353;
        z-index: 12312313;

        span {
            background: url('../imaages/back-mobile.svg');
            width: 100px;
        }
    }
}

