.actions {

    &-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: $green;
    }


    .lead {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
}