.faq {
    h6 {
        color: $green;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
    }
}

.card {
    border-radius: 20px;
    box-shadow: 0 0 20px #e0c3c3
}

.card-header {
    background-color: white;
    border-radius: 20px;

    h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: #727878;
        width: 100%;
    }

    .collapsed {
        border-radius: 20px;
    }
}

.card-body {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #727878;
}

.arrow {
    transition: all .33s;
}

// .arrow {
//     float: right;
//     width: 80px;
//     height: 80px;

//     background: url('../images/arrow-faq.svg');
//     background-repeat: no-repeat;
//     background-position-x: right;
// }

.arrow.active {
    transform: scaleY(-1);
 }
 