.header {

    .logo {

        &-link {

        }

        &-img {
            max-width: 100%;
        }
    }

    .menu-lists {

        &__link {
            transition: all .33s;
            &:hover {
                color: $green;
            }
        }
    }
}