.membership {
    background: url('../images/partnership-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 701px;

    &-title {
        height: 600px;
        
    }
}