.membership {
    background: url('../images/partnership-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 75vh;

    &-title {
        height: 600px;
        
    }
}

@media (max-width: 575px) {
    .membership {
        background-size: unset;

    }
}