.promo {
    background: url('../images/promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 100vh;
    // padding-top: 50px;

    &-wrapper {
    }

    &-block {
        margin-top: 150px;
    }

    &-subheading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
    }

    &-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;

        span {
            font-weight: 500;
            color: #1C1C1C;
            font-family: Montserrat;
            font-style: normal;
            font-size: 60px;
        }
    }

    &-how {
        .how {

            &__go {
                background: linear-gradient(75.39deg, #52C600 13.64%, #97FF13 100%);
                padding: 12px 30px 12px 35px;
                border-radius: 38px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;

                &:hover {
                    
                }
            }

            &__work {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                border-bottom: 2px solid $green;
                transition: all .33s;

                &:hover {
                    color: black;
                    border-bottom: none;
                }
            }
        }
    }


}